#remind-password-box, #singupbox, #loginbox {
  margin-top: 50px;
}
.panel-body {
  padding-top: 30px;
}
.input-group {
  margin-bottom: 25px;
}
.form-group {
  margin-top: 10px;
}
.subtitle {
  float:right;
  font-size: 80%;
  position: relative;
  top:-10px
}
.hline {
  border-top: 1px solid#888;
  padding-top:15px;
  font-size:85%;
}